.navbar {
    padding: 5px;
    position: absolute;
    top: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    z-index: 1; /* Important to get on image*/
}
.navbar ul{
    width: 50%;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-evenly;
}
.navbar li{
    background-color: transparent;
    color: white;
}
.navbar li:hover{
    color: red;
}





